<div class="image-container">
  <img class="quiz-image" src="https://via.placeholder.com/300x300" alt="Quiz Image">
</div>
hat
  <div class="question">
    {{content.question}}
  </div>

<!-- The answer choices -->
<div class="answer-choices">
  OdpowiedzA:  <button class="answer-choice-button" (click) = "highlightAnswer($event)" value= {{content.answerA}}>  {{content.answerA}}</button>
  OdpowiedzB:  <button class="answer-choice-button" (click) = "highlightAnswer($event)" value= {{content.answerB}}>  {{content.answerB}} </button>
  OdpowiedzC:  <button class="answer-choice-button" (click) = "highlightAnswer($event)" value= {{content.answerC}}>  {{content.answerC}} </button>
  OdpowiedzD:  <button class="answer-choice-button" (click) = "highlightAnswer($event)" value= {{content.answerD}}>  {{content.answerD}}</button>
</div>

<!-- The navigation buttons -->
<div class="nav-buttons">
  <button class="nav-button" (click)="onClickNextButton($event)">Next</button>
</div>

<ng-template [ngIf] = "submitButtonAppear == true" >
  <button class="answer-choice-button" (click) = "highlightAnswer($event)" [routerLink]="['/submit']"> submit </button>
</ng-template>


