<div class="content" role="main">
  <h2>Welcome to survey app!</h2>
  <h4>Wybierz kategorie cale te</h4>
  <form (ngSubmit)="startSurvey(quizConfig)">
    <select name="category" class="form-select" id="categorySelect" [(ngModel)]="quizConfig.category">
      <option  *ngFor="let category of categories; index as i" > {{category.name}} </option>
    </select>
    <input type="number" min="0" max="30"  name="size" id="size" [(ngModel)]="quizConfig.size">
    <button type="submit">Start Quiz</button>
  </form>
</div>

<ng-template [ngIf]="hideStartPopup == true">
  <p>tutaj sie zaczyna zabawa</p>
  Za chwile zostaniesz przekierowany do pierwszego pytania
</ng-template>
